.twodiv{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
    gap:4%;
}

.two{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 15%;
    text-align: center;

    h3{
        padding-top: 20px;
    }

    p{
        color:gray;
        font-size: 12px;
        padding-top: 15px;
        font-weight: 500;
    }
}

.iconn{
    background-color: pink;
    width: 110px;
    height: 15vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    i{
        color: white;
        font-size: 60px;
    }
}

.iconn1{
    background-color: rgb(231, 231, 173);
    width: 110px;
    height: 15vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: white;
        font-size: 60px;
    }
}

.iconn2{
    background-color: rgb(143, 222, 240);
    width: 110px;
    height: 15vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: white;
        font-size: 60px;
    }
}

.iconn3{
    background-color: rgb(242, 182, 139);
    width: 110px;
    height: 15vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: white;
        font-size: 60px;
    }
}

@media(max-width:576px){
    .twodiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}